extends ../layout/common
block content
    .py-5.text-center
    h2 Payment Form
    if errMsg
        h5.alert.alert-danger #{errMsg}
    .row
        .col-md-4.order-md-2.mb-4
            h4.d-flex.justify-content-between.align-items-center.mb-3
                span.text-muted Your cart
                span.badge.badge-primary.badge-pill #{session.cart.totalQuantity}
            ul.list-group.mb-3
                each product in products
                    li.list-group-item.d-flex.justify-content-between.lh-condensed
                        div
                            h6.my-0 #{product.item.name}  
                                span.badge.badge-success.text-center #{product.quantity}
                            small.text-muted=product.item.brand
                        span.text-muted $#{product.price}
                li.list-group-item.d-flex.justify-content-between.bg-light
                    .text-success
                        h6.my-0 Promo code
                        small EXAMPLECODE
                    span.text-success $0
                li.list-group-item.d-flex.justify-content-between
                    span Total (USD)
                    strong $#{totalPrice}
            .card.p-2
                .input-group
                    input.form-control(type='text' placeholder='Promo code')
                    .input-group-append
                        button.btn.btn-secondary Redeem
        .col-md-8.order-md-1
            h4.mb-3 Billing address
            form.needs-validation#payment-form(novalidate method="post", action="/payment")
                .mb-3
                    label(for='name') Name
                    input#name.form-control(type='text' required)
                    .invalid-feedback Valid first name is required.
                .mb-3
                    label(for='username') Username
                    .input-group
                        .input-group-prepend
                            span.input-group-text @
                        input#username.form-control(type='text' placeholder='Username')
                        .invalid-feedback(style='width: 100%;')
                .mb-3
                    label(for='email')
                        | Email 
                        span.text-muted (Optional)
                    input#email.form-control(type='email' placeholder='you@example.com')
                    .invalid-feedback Please enter a valid email address for shipping updates.
                .mb-3
                    label(for='address') Address
                    input#address.form-control(type='text' placeholder='1234 Main St' required)
                    .invalid-feedback Please enter your shipping address.
                .mb-3
                    label(for='address2') Address 2
                        span  (Optional)
                    input#address2.form-control(type='text' placeholder='Apartment or suite') 
                .row
                    .col-md-5.mb-3
                        label(for='country') Country
                        select#country.custom-select.d-block.w-100(required)
                            option(value='') Choose...
                            option United States
                            option Viet Nam
                            option China
                        .invalid-feedback Please select a valid country.
                    .col-md-4.mb-3
                        label(for='state') State
                        select#state.custom-select.d-block.w-100(required)
                            option(value='') Choose...
                            option California
                            option Ho Chi Minh
                            option Beijing
                        .invalid-feedback Please provide a valid state.
                    .col-md-3.mb-3
                        label(for='zip') Zip
                        input#zip.form-control(type='text' placeholder='' required)
                        .invalid-feedback Zip code required.
                hr.mb-4
                .custom-control.custom-checkbox
                    input#same-address.custom-control-input(type='checkbox')
                    label.custom-control-label(for='same-address') Shipping address is the same as my billing address
                .custom-control.custom-checkbox
                    input#save-info.custom-control-input(type='checkbox')
                    label.custom-control-label(for='save-info') Save this information for next time
                hr.mb-4
                h4.mb-3 Payment
                .d-block.my-3
                    .custom-control.custom-radio
                        input#credit.custom-control-input(name='paymentMethod' type='radio' checked='')
                        label.custom-control-label(for='credit') Credit card
                    .custom-control.custom-radio
                        input#debit.custom-control-input(name='paymentMethod' type='radio')
                        label.custom-control-label(for='debit') Debit card
                    .custom-control.custom-radio
                        input#paypal.custom-control-input(name='paymentMethod' type='radio')
                        label.custom-control-label(for='paypal') Paypal
                #card-element

                #card-errors(role="alert")    
                hr.mb-4
                button.btn.btn-primary.btn-lg.btn-block Continue to checkout
    footer.my-5.pt-5.text-muted.text-center.text-small
        p.mb-1 &copy; 2017-2018 Company Name
        ul.list-inline
            li.list-inline-item
                a(href='#') Privacy
            li.list-inline-item
                a(href='#') Terms
            li.list-inline-item
                a(href='#') Support
block stripe
    script(src="/scripts/stripe.js")