extends ../layout/common
block mainPage
    .row
        .col-lg-6
            .details_image
                .details_image_large
                    img(src=product.image, alt="hey")
                .details_image_thumbnails.d-flex.flex-row.align-items-start.justify-content-between
                    .details_image_thumbnail.active(data-image="")
                        img(src="https://www.techtimes.vn/wp-content/uploads/2018/09/iPhone-X-bi-khai-tu-techtimes.jpg", alt="")
                    .details_image_thumbnail.active(data-image="")
                            img(src="https://i.kinja-img.com/gawker-media/image/upload/s--Y9K5Cwb2--/c_scale,f_auto,fl_progressive,q_80,w_800/btpyy72fnsncapljkhv7.jpg", alt="")
                    .details_image_thumbnail.active(data-image="")
                            img(src="https://i.kinja-img.com/gawker-media/image/upload/s--VnsujfJT--/c_scale,f_auto,fl_progressive,q_80,w_800/gsnof9y4bxxf2tsrq164.jpg", alt="")
                    .details_image_thumbnail.active(data-image="")
                            img(src="http://fptservices.com.vn/wp-content/uploads/2018/03/23483235_1461963317255022_1614193233_o_800x449.jpg", alt="")
        .col-lg-6
            .details_content
                .details_name=product.name
                .details_price $#{product.price}.00
                .details_desc.mt-5
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Phasellus id nisi quis justo tempus mollis sed et dui. In hac habitasse platea dictumst. Suspendisse ultrices mauris diam. Nullam sed aliquet elit. Mauris consequat nisi ut mauris efficitur lacinia.
                .product_quantity_container.mt-5
                    .row
                        .col-lg-6.d-flex
                            .product_quantity.clearfix.d-flex.align-items-center
                                label.mb-0(for="product-quantity-input") Quantity
                                .product-quantity-subtract
                                    a.fa.fa-chevron-left
                                div#quantity
                                    span
                                        span#total
                                .product-quantity-add
                                    a.fa.fa-chevron-right
                        .col-lg-6.d-flex.ml-auto
                                    a.btn.btn-primary#add_button.ml-auto(href=`/cart/add/${product.id}`) Add To Cart
                                
                .details_share
                    span Share:
                    ul.list-unstyled
                        li
                            a(href=`/cart/add/${product.id}`)
                                i.fab.fa-facebook-f
                        li
                            a(href="#")
                                i.fab.fa-instagram
                        li
                            a(href="#")
                                i.fab.fa-twitter
                        li
                            a(href="#")
                                i.fab.fa-google-plus-g